.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: var(--space-08);
  padding-bottom: var(--space-08);
  row-gap: var(--space-05);
}

.radio_item {
  text-transform: capitalize;
}

.input {
  width: var(--space-full);
  
  @media(--screen-sm) {
    min-width: var(--space-96);
  }
}